@import url('https://fonts.cdnfonts.com/css/action-2');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Ojuju:wght@200..800&family=Poppins:wght@300&display=swap');
body{
    margin: 0;
    /* font-family: ''; */
}

.Navbar{
   display: flex;
   background-color: white;
   justify-content: space-between;
   box-shadow: 0vw 0vw 2vw black;
   height: 6vw;
   
}
.logo{
    width: 14vw;
    height: 5vw;
    margin-right: 2vw;
    margin-top: -1.4vw;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 7vw;
    font-size: 2vw;
    color: black;
    font-family: 'Muslish';
    font-weight: 500;                            
}
/* .home:hover{
    width: 5.5vw;
    height: 4vw
} */
li{
    height: 5vw;
    /* margin-top: -1.4vw; */
    
   
}
.profilei{
    width: 3.5vw;
    height: 3vw;
}
a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.one{
    margin-left: 3vw;
    color: #252527;
    font-family: 'Mulish';
    font-size: 4.2vw;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.92px;
    text-align: left;
    
}
.most{
    margin-left: 3vw;
    margin-top: -2vw;
    letter-spacing: 0.3vw;
    color: #252527;
    font-family: "Action Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.img1{
    margin-left: 56vw;
    width: 38vw;
    height: 35vw;
    margin-top: -27vw;
}
.btn{
    display: flex;
    margin-left: 3vw;
    margin-bottom: 3vw;
    font-family: 'Action Sans';
    gap: 1.5vw;
    margin-top: -8vw;
}
.btn1{
    font-size: 1.3vw;
    height: 3vw;
    border-radius: 0.5vw;
    border: 1px solid #000;
    background-color: #FFCD4C;
    box-shadow: 3px 7px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn2{
    font-size: 1.3vw;
    height: 3vw;
    border-radius: 0.5vw;
    border: 1px solid #000;
    background-color: #FFCD4C;
    box-shadow: 3px 7px 4px 0px rgba(0, 0, 0, 0.25);
}
.footerbtn2{
    font-size: 1.8vw;
    color: white;
    height: 3vw;
    border-radius: 0.5vw;
    border: 1px solid #000;
    background-color: #070707;
    box-shadow: 3px 7px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 21vw;
    width: 12vw;
    height: 4vw;
}
.unlock{
    background: rgba(216, 232, 238, 0.54);
    box-shadow: 4px 7px 7px 0px rgba(0, 0, 0, 0.81);
    height: 11vw;
}
.puzzle{
    color: #252527;
    font-family: Mulish;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.26px;
    text-align: center;
    margin-top: 11vw;
}
.img2{
    width: 41vw;
    height: 41vw;
    margin-top: 8vw;
    margin-left: 3vw;
}
.Stream{
    margin-left: 40vw;
    margin-top: -40vw;
}
.QR{
    margin-left: 7vw;
    color: #252527;
    font-family: 'Mulish';
    font-size: 3vw;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.92px;
    text-align: left;
}
.scan{
    color: #252527;
    text-align: right;
    font-family: "Action Sans";
    letter-spacing: 0.3vw;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 4.2vw;
}
.footer{
    background-color: #FFCD4C;
    box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.80);
    height: 40vw;
    margin-top: 16vw;
    border: 2px solid #000;
}
.contactusfooter{
    margin-top: 3vw;
}
.line5{
    margin-left: 51vw;
    margin-top: -13vw;
    height: 23vw;
}
.phrase{
    margin-left: -47vw;
    margin-top: 7vw;
    color: #252527;
    font-family: 'Mulish';
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: center;
}
.Company{
    color: #302E2E;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    /* display: flex; */
    font-weight: 800;
    /* flex-direction: row; */
    line-height: normal;
    margin-left: 57vw;
    margin-bottom: -19.6vw;
    margin-top: -25vw;
}
.legal{
    color: #302E2E;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    /* display: flex; */
    font-weight: 800;
    /* flex-direction: row; */
    line-height: normal;
    margin-left: 76vw;
}
.Company li{
    /* display: flex; */
    list-style-type: none;
    gap: 7vw;
    font-size: 1.4vw;
    color: black;
    font-family: 'Muslish';
    font-weight: 500;  
    /* margin-left: 2vw; */
    margin-top: -3vw;
}  
.legal li{
    /* display: flex; */
    list-style-type: none;
    /* gap: 7vw; */
    font-size: 1.4vw;
    color: black;
    font-family: 'Muslish';
    font-weight: 500;  
    /* margin-left: 2vw; */
    margin-top: -3vw;
}   
.gmail{
    color: #0F0E0E;
    text-align: center;
    font-family: 'Mulish';
    font-size: 1.3vw;
    text-align: center;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    margin-top: -4.2vw;
    margin-left: 17vw;
}
.copyright{
    color: #000;
    text-align: center;
    font-family: 'Mulish';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: -19vw;
    margin-top: 1vw;
}
.desimg{
    margin-top: 0.7vw;
    width: 100%;
}
.icons{
    margin-top: 5vw;
    margin-left: 8vw;
    display: flex;
    color: #302E2E;
    column-gap: 5vw;
    font-family: Mulish;
    /* font-size: 30.192px; */
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.ico1 {
    margin-left: 0.4vw;
    width: 3vw;
    margin-top: 1vw;
    height: 3vw;
}
.ico2 {
    margin-left: 0.4vw;
    width: 3vw;
    height: 3vw;
    margin-top: 1vw;
}
.ico3 {
    margin-left: 0.4vw;
    width: 3vw;
    height: 3vw;
    margin-top: 1vw;
}
.ico4 {
    margin-left: 0.4vw;
    width: 3vw;
    height: 3vw;
    margin-top: 1vw;
}

/* LOGIN CSS */

/* .mainlogin{
    margin-right: 2vw;
} */
.login{
    border-radius: 17px;
    background-color: #FFCD4C;
    box-shadow: 6px 9px 4px 0px rgba(0, 0, 0, 0.25);
    width: 90%;
    height: 50vw;
    margin-left: 5vw;
    margin-top: 2vw;
}
.lobox{
    border-radius: 23px;
    background-color: #FFF;
    box-shadow: 8px 12px 4px 0px rgba(0, 0, 0, 0.25);
    width: 32vw;
    height: 41vw;
    margin-top: -46vw;
    margin-left: 55vw;
}
.parkrologo{
    margin-left: 19vw;
    margin-top: 2vw;
}
.carlogin{
    margin-left: 13vw;
    margin-top: 1vw;
    width: 25vw;
    
}
.access{
    color: #252527;
    text-align: center;
    font-family: Mulish;
    font-size: 3vw;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.11px;
    margin-right: 35vw;
}
.welcome{
    color: #252527;
    text-align: center;
    font-family: Mulish;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2.96px;
    margin-bottom: 4vw;
}
.simplify{
    color: #252527;
    text-align: center;
    font-family: Action Sans;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 0.1vw;
}
input{
    display: flex;
    border-radius: 24vw;
    border: 1px solid #000;
    background-color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #8D8D8D;
    font-family: "Action Sans";
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 3.6vw;
    margin-top: 2vw;
    width: 25vw;
    height: 3vw;
    /* text-align: center; */

}
.logbtn{
    border-radius: 24px;
    border: 1px solid #000;
    background: #0F0F0F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 3.6vw;
    width: 26vw;
    height: 3vw;
    color: #FDFDFF;
    text-align: center;
    font-family: "Action Sans";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.96px;

}
.username{
    margin-top: 3vw;
    
}
.forgot{
    line-height: normal;
    text-align: center;
    font-family: "Action Sans";
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 500;
    color: #252527;
    letter-spacing: 0.63px;
    margin-left: 19vw;
    margin-top: 1vw;
}
.left{
    width: 11vw;
    margin-right: 20vw;
    margin-top: 0.9vw;
    margin-left: 1vw;
}
.right{
    width: 10vw;
    margin-right: -2.5vw;
    margin-top: -1vw;
    margin-left: 20vw;
}
.or{
    /* margin-left: 1vw; */
    color: #252527;
text-align: center;
font-family: "Action Sans";
font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.42px;
margin-top: -1vw;
}
.loginicon{
    margin-top: -2vw;
    margin-left: 8vw;
}
.gplus{
    width: 3vw;
    margin-bottom: -0.3vw;
}
.apple{
    width: 3.5vw;
    margin-left: 3vw;
    margin-top: 1vw;
}
.logface{
    margin-left: 3vw;
}
.not{
    text-align: center;
    font-family: "Action Sans";
    font-size: 17px;
    font-style: normal;
    color: #252527;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.63px;
    margin-right: 4vw;
}
.sign{
    color: #5AB331;
    text-align: center;
    font-family: "Action Sans";
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.63px;
    margin-right: -11vw;
    margin-top: -3.37vw;
}
.logimg{
    width: 99vw;
    margin-top: 6vw;
    margin-left: -5vw;
}
/* ABOUT PAGE */
.about{
    color: #FFCD4C; 
    text-shadow: 7px 6px 0px #A11FDF;
    font-family: Mulish;
    font-size: 101px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 10.1px;
    -webkit-text-stroke-width: 1.5px; 
    -webkit-text-stroke-color: #000; 
    margin-left: 6vw;
    margin-top: 1vw;
}
.line{
    width: 41vw;
    height: 1vw;
    color: #000;
    border-color: black;
    background-color: black;
    margin-left: 6vw;
    margin-top: -5vw;
}
.about1{
    margin-left: 60vw;
    width: 35vw;
    height: 35vw;
}
.teparkro{
    width: 52vw;
    height: 32vw;
    background-color: rgba(255, 205, 76, 0.37);
    box-shadow: 7px 9px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    margin-top: -35vw;
    margin-left: 2vw;
    /* text-align: center; */
}
.prkro{
    color: rgb(101 79 22);
font-family: Mulish;
font-size: 42px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: 1.26px;
margin-top: 3vw;
margin-left: 3vw;
}
.profile{
    margin-top: 16vw;
    margin-left: 12vw;
    width: 13vw;
}
.protext{
    width: 58vw;
    height: 16vw;
    background-color: rgba(255, 205, 76, 0.37);
    box-shadow: 7px 9px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    margin-top: -19vw;
    margin-left: 36vw;

}
.automaticall{
    color: rgb(101 79 22);
    font-family: Mulish;
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.26px;
    margin-top: 3vw;
    margin-left: 3vw;
}
.name{
    margin-left: 10.1vw;
    margin-top: 0vw;
    color: #252527;
    font-family: Mulish;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.9px;
}
.carab{
    margin-left: 11vw;
    margin-top: -18vw;
}


/* FAQ PAGE */

.mainbox{
    background-color: #FFF;
box-shadow: 4px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

.faq{
    color: #FFCD4C; 
    text-shadow: 7px 6px 0px #A11FDF;
    font-family: Mulish;
    font-size: 101px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 10px;
    -webkit-text-stroke-width: 1.5px; 
    -webkit-text-stroke-color: #000; 
    margin-left: 7vw;
    margin-top: 1vw;
}
.faqline{
    width: 32vw;
    height: 1vw;
    color: #000;
    border-color: black;
    background-color: black;
    margin-left: 2vw;
    margin-top: -5vw;
}
.que1{
    color: #252527;
font-family: Mulish;
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: 5.72px;
margin-left: 2vw;
width: 45vw;
}
.bans1{
    width: 45vw;
    height: 22vw;
    background-color: rgba(255, 205, 76, 0.37);
    box-shadow: 7px 9px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    margin-top: 2vw;
    margin-left: 2vw;
}
.ans1{
    color: rgb(101 79 22);
    font-family: Mulish;
    font-size: 33px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.26px;
    margin-top: 3vw;
    margin-left: 3vw;
}
.faq1{
    margin-left: 60vw;
    margin-top: -39vw;
    width: 32vw;

}
.que2{
    color: #252527;
font-family: Mulish;
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: 5.72px;
margin-left: 41vw;
margin-top: 12vw;
/* width: 45vw; */
}
.bans2{
    width: 53vw;
    height: 14vw;
    background-color: rgba(255, 205, 76, 0.37);
    box-shadow: 7px 9px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    margin-top: 2vw;
    margin-left: 42vw;
}
.ans2{
    color: rgb(101 79 22);
    font-family: Mulish;
    font-size: 33px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.26px;
    margin-top: 3vw;
    margin-left: 3vw;
}
.faq2{
    margin-left: 11vw;
    margin-top: -45vw;
    width: 22vw;
}
.query{
    border-radius: 17px;
    background-color: #FFCD4C;
    box-shadow: 6px 9px 4px 0px rgba(0, 0, 0, 0.25);
    width: 90%;
    height: 53vw;
    margin-left: 5vw;
    margin-top: 17vw;
}
.querbox{
    margin-left: 42vw;
    background-color: white;
    margin-top: -37vw;
    width: 43vw;
    height: 45vw;
    border-radius: 2vw;
}
.querbox input{
    margin-left: 9vw;
    margin-top: 3vw;
    text-align: center;
    font-family: "Action Sans";
}
.sendbtn{
    border-radius: 24px;
    border: 1px solid #000;
    background: #0F0F0F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 6.6vw;
    width: 30vw;
    height: 3vw;
    color: #FDFDFF;
    text-align: center;
    font-family: "Action Sans";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.96px;
    margin-top: 3vw;

}
.faq3{
    width: 29vw;
    margin-left: 6vw;
    margin-top: 4vw;

}
.got{
    color: #252527;
    text-align: center;
    font-family: Mulish;
    font-size: 54px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    letter-spacing: 1.62px;
}
.faq4{
    margin-left: 14vw;
}
.querries{
    margin-left: 10vw;
    margin-top: 7vw;
    color: #252527;
    letter-spacing: 3px;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}
/* .question{
    background-color: wheat;

} */
.delete{
    margin-left: 1vw;
    border-radius: 1vw;
    font-size: 1vw;
    width: 6vw;
}
.cancel{
    margin-left: 1vw;
    border-radius: 1vw;
    font-size: 1vw;
    width: 6vw;
}
.update{
    border-radius: 1vw;
    font-size: 1vw;
    /* width: vw; */
    margin-left: 4vw;
}
.edit{
    border-radius: 1vw;
    font-size: 1vw;
    width: 6vw;
}

/* Generate page */

.generatebox{
    border-radius: 17px;
    background-color: #FFCD4C;
    box-shadow: 6px 9px 4px 0px rgba(0, 0, 0, 0.25);
    width: 90%;
    height: 50vw;
    margin-left: 5vw;
    margin-top: 2vw;
}
.Generate{
    font-family: Mulish;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 1000;
    color: #252527;
    line-height: normal;
    letter-spacing: 1.44px;
    /* margin-top: 1vw; */
}
.genqrcode{
    margin-left: 4vw;
    margin-top: 2vw;
    width: 33%;
}
.mansitting{
    margin-top: -18vw;
}
.genbox{
    margin-left: 47vw;
    margin-top: -40vw;
    background-color: white;
    width: 34vw;
    height: 36vw;
    position: absolute;
    border-radius: 1vw;
    box-shadow: 8px 12px 4px 0px rgba(0, 0, 0, 0.25);
}
 .generatebtn{
    border-radius: 24px;
    border: 1px solid #000;
    background: #0F0F0F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 3.6vw;
    width: 26vw;
    height: 3vw;
    color: #FDFDFF;
    text-align: center;
    font-family: "Action Sans";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.96px;
    margin-top: 2vw;
}
.genimg{
    width: 100%;
    margin-top: 1vw;
}
/* .generated-qr-code{
    margin-left: 31vw;
    margin-top: -8vw;
} */



/* profile page */
.Hello{
    color: #FFCD4C;
    text-shadow: 7px 6px 0px #A11FDF;
    /* -webkit-text-stroke-width: 2; */
    /* border-color: #0F0E0E; */
    -webkit-text-stroke-color: #000;
    font-family: Mulish;
    font-size: 88px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 13.7px;
    margin-left: 24vw;
    margin-top: 0vw;
}
.firstbox{
    background-color: #FFCD4C;
    border-radius: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: fit-content;
    margin-left: 91vw;
    margin-top: -9vw;
    display: flex;
}
.firstboxname{
    color: #FFCD4C;
text-shadow: 2px 1px 0px #A11FDF;
/* -webkit-text-stroke-width: 1; */
/* -webkit-text-stroke-color: #000; */
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: 2.7px;
}
.secondbox{
    background-color: #FFCD4C;
    border-radius: 17px;
    box-shadow: 6px 9px 4px 0px #A11FDF;
    width: 26vw;
    height: 39vw;
    /* align-items: cente; */
    margin-left: 3vw;
    margin-top: 7vw;
}
.secondboxinput{
    margin-left: 4vw;
    margin-top: 2vw;
    color: #252527;
font-family: Mulish;
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: 0.9px;
}
.firstimg{
    width: 3vw;
}

.thirdbox{
    padding: 5vw;
    background-color: #A11FDF;
    border-radius: 23px;
    box-shadow: 8px 12px 4px 0px #FFCD4C;
    width: 54vw;
    height: 29vw;
    margin-left: 33vw;
    margin-top: -38.7vw;
}
.thirdbox input{
    display: flex;
    border-radius: 24vw;
    border: 1px solid #000;
    background-color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #8D8D8D;
    font-family: "Action Sans";
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 6.6vw;
    margin-top: 0.7vw;
    width: 38vw;
    height: 3vw;
    text-align: center;
}
.update{
    width: 4vw;
}
.secondimg{
    margin-left: 7vw;
    margin-top: 4vw;

}
.profileupdate{
    font-size: 1.3vw;
    color: white;
    height: 3vw;
    border-radius: 0.5vw;
    border: 1px solid #000;
    background-color: #070707;
    box-shadow: 3px 7px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 12vw;
    width: 11vw;
    margin-top: 2vw;
}
.profilecancel{
    font-size: 1.3vw;
    color: white;
    height: 3vw;
    border-radius: 0.5vw;
    border: 1px solid #000;
    background-color: #070707;
    box-shadow: 3px 7px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 7vw;
    width: 11vw;
}
.popular{
    text-shadow: 7px 6px 0px #A11FDF;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: Mulish;
    font-size: 101px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 10.1px;
    color: #FFCD4C;
}
.popularline{
    width: 32vw;
    height: 1vw;
    color: #000;
    border-color: black;
    background-color: black;
    margin-left: 2vw;
    margin-top: -1vw;
}

.popularparking{
    background: #FFCD4C;
    box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.80);
    color: #252527;
    text-align: center;
    font-family: Mulish;
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.44px;
    border-radius: 25px;
    margin-top: 7vw;
    width: 96%;
    margin-left: 2vw;
}
.dropdown-content{
    border-radius: 11px;
    background-color: rgba(255, 205, 76, 0.37);
    box-shadow: 7px 9px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: 'Mulish';
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.26px;
    color: #252527;
}
.dropwdown{
    margin-left: 88vw;
    margin-top: -3vw;
}
.dropdown-symbol{
        margin-left: -16px;
    font-size: 32px;
    vertical-align: middle;
}


.help-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }

  .circle-button {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #007bff;
      color: white;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: background-color 0.3s ease;
  }